.DS_Store
.idea
*.iml
*.swo
*.swp
npm-debug.log
yarn.lock
package-lock.json
/node_modules
/coverage

#====-Build Section-=========
# comment out for gh_pages...
# or run: npm run gh-pages
/build
#============================
