# o-component-blueprint [![Build Status](https://travis-ci.org/Pearson-Higher-Ed/o-component-blueprint.svg?branch=master)](https://travis-ci.org/Pearson-Higher-Ed/o-component-blueprint)

Provide a brief description of the component.

## License

This software is published by Pearson Education under the [MIT license](LICENSE).
