$o-assets-global-path: '/bower_components/';
$o-coach-mark-is-silent: false;

@import '../../main';

html {
  background-color: #cfcbcb;
  font-family: proxima_nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#cm-bottom {
  top: 0px;
}

#cm-left {
  top: 150px;
}

#cm-top {
  top: 300px;
}

#cm-right {
  top: 450px;
}

.center {
   margin: auto;
   width: 60%;
   padding: 10px;
}
