$o-assets-global-path: '/bower_components/';
$o-coach-mark-is-silent: false;

@import '../../main';

html {
  background-color: #cfcbcb;
  font-family: proxima_nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.feature {
  margin-top: 75px;
  margin-bottom: 75px;
}

.center {
   margin: auto;
   width: 60%;
   padding: 10px;
}
