.demo-target {
  border: 2px solid;
  margin: 10px;
  display: inline-block;
}

p.lorum-ipsum {
  border: groove;
}

.feature {
  margin-top: 75px;
  margin-bottom: 75px;
}

.left {
  width: 40%;
  float: left;
}

.right {
  width: 60%;
  float: left;
}

.clearfix {
  overflow: auto;
}
