@import '../../node_modules/@pearson-components/elements-sdk/src/styles/elements/color/_color.scss';

.o-coach-mark {
  &__container {
    height: auto;
    clear: both;
    float: left;
    position: absolute;
    :-moz-focusring {
      outline: none;
      border: 2px solid rgba(81, 203, 238, 1);
      -webkit-box-shadow: 0px 0 5px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }
  }
  &__hole {
    -webkit-box-shadow: 0 0 0 9999999px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 9999999px rgba(0, 0, 0, 0.25);
  }
  &__content-container {
    padding: 20px 24px;
    margin: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
    min-width: 280px;
    float: left;
    &.default {
      background-color: $pe-color-digital-ice-blue;
    }
    &.info {
      background-color: #ffed9a;
    }
    &.generic {
      background-color: white;
      .o-coach-mark__got-it {
        text-decoration: none;
        color: #047a9c;
      }
    }
  }
  &__title {
    padding-bottom: 4px;
    line-height: 18px;
  }
  &__paragraph {
    clear: both;
    margin: 0;
  }
  &__content {
    float: left;
    width: 255px;
    margin: 0px;
    position: relative;
    background-color: inherit;
  }

  &--bottom::before {
    left: 221px;
    top: -28px;
    -webkit-box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.1);
  }

  &--bottom-left::before {
    left: 19px;
    top: -28px;
    -webkit-box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.1);
  }

  &--top::before {
    bottom: -28px;
    left: 220px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  }

  &--top-left::before {
    bottom: -28px;
    left: 19px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  }

  &--bottom::before,
  &--bottom-left::before,
  &--top::before,
  &--top-left::before {
    content: '\00a0';
    position: absolute;
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: inherit;
  }
  &__got-it,
  &__close-icon {
    float: right;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__got-it {
    margin-top: 24px;
    text-decoration: underline;
    color: $pe-color-charcoal;
    &:hover {
      text-decoration: none;
    }
  }
  &__close-icon {
    margin: -4px -10px 0 0;
  }
}
.o-coach-mark--p-right.vertical-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  &::before {
    content: '\00a0';
    position: absolute;
    display: block;
    flex: 1 0 auto;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: inherit;
    left: -33px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    @media (max-width: 480px) {
      display: none;
    }
  }
}
.switch-right {
  .o-coach-mark--p-right.vertical-left {
    &::before {
      left: 294px;
      display: block;
      flex: 1 0 auto;
      -webkit-box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
.switch-left {
  .o-coach-mark--p-left.vertical {
    &::before {
      left: -33px;
      display: block;
      flex: 1 0 auto;
      -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
.o-coach-mark--p-left.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  &::before {
    content: '\00a0';
    position: absolute;
    width: 16px;
    height: 16px;
    flex: 1 0 auto;
    top: calc(50% - 8px);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: inherit;
    left: 294px;
    -webkit-box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.1);
    @media (max-width: 480px) {
      display: none;
    }
  }
}
.ie {
  .o-coach-mark--p-left.vertical {
    &::before {
      left: 277px;
    }
  }
}

.ie {
  .switch-left {
    .o-coach-mark--p-left.vertical {
      &::before {
        left: -33px;
      }
    }
  }
}

.ie {
  .switch-right {
    .o-coach-mark--p-right.vertical-left {
      &::before {
        left: 277px;
      }
    }
  }
}
