@import '../../node_modules/@pearson-components/elements-sdk/src/styles/elements/color/_color.scss';

.o-coach-mark {
	&__container {
		height: 0;
		clear: both;
		float: left;
		position: absolute;
		:-moz-focusring {
			outline:none;
			border:2px solid rgba(81, 203, 238, 1);
			-webkit-box-shadow: 0px 0 5px rgba(0,0,0,0.25);
			box-shadow: 0 0 5px rgba(0,0,0,0.25);
		}
	}
	&__hole {
		box-shadow: 0 0 0 9999999px rgba(0,0,0,0.25);
	}
	&__content-container {
		padding: 20px 24px;
		margin: 10px;
		border-radius: 4px;
		box-shadow: 0 3px 7px rgba(0,0,0,0.25);
		min-width: 280px;
		float: left;
		&.default {
			background-color: $pe-color-digital-ice-blue;
			.o-coach-mark__content {
				&::before {
					background-color: $pe-color-digital-ice-blue;
				}
			}

		}
		&.info {
			background-color: $pe-color-sunshine-yellow;
			.o-coach-mark__content {
				&::before {
					background-color: $pe-color-sunshine-yellow;
				}
			}
		}
	}
	&__title {
		padding-bottom: 4px;
		line-height: 18px;
	}
	&__paragraph {
		clear: both;
		margin: 0;
	}
	&__content {
		float: left;
		width: 255px;
		margin: 0px;
		position: relative;
	}

	&--bottom::before {
		left: 221px;
		top: -28px;
		box-shadow: -1px -1px 1px 0px rgba(0,0,0,.1);
	}

	&--bottom-left::before {
		left: 19px;
		top: -28px;
		box-shadow: -1px -1px 1px 0px rgba(0,0,0,.1);
	}

	&--top::before {
		bottom: -28px;
		left: 220px;
		box-shadow: 1px 1px 1px 0px rgba(0,0,0,.1);
	}

	&--top-left::before {
		bottom: -28px;
		left: 19px;
		box-shadow: 1px 1px 1px 0px rgba(0,0,0,.1);
	}

	&--bottom::before,
	&--bottom-left::before,
	&--top::before,
	&--top-left::before {
		content: '\00a0';
		position: absolute;
		width: 16px;
		height: 16px;
		transform: rotate( 45deg );
	}

	&__got-it,
	&__close-icon {
		float: right;
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
	}

	&__got-it {
		margin-top: 24px;
    text-decoration: underline;
    color: $pe-color-charcoal;
		&:hover {
			text-decoration: none;
		}
	}
	&__close-icon {
		margin: -4px -10px 0 0;
	}

}
